.group-title {
    display: flex;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    align-items: center;


    input {
        background: none;
        border: none;
        width: 228px;
        height: 28px;
        font-size: 1em;
        padding: 4px 8px;
        font-family: 'Charlie-light';
        font-weight: 700;
        font-size: 14px;
        color: #1c2a4b;

        &:focus {
            background-color: $clr6;
            outline-color: $clr1;
        }
    }

    .group-action-btn {
        background: none;
        color: #6b778c;
        font-size: 20px;
        height: 32px;
        width: 32px;
        padding: 6px;
        margin: 0;
        margin-left: 0.5em;
    }
}