@font-face {
    font-family: Charlie-regular;
    src: url(../../font/charlie//CharlieDisplay-Regular.ttf);
}

@font-face {
    font-family: Charlie-light;
    src: url(../../font/charlie/CharlieDisplay-Light.ttf);
}

@font-face {
    font-family: Charlie-Thin;
    src: url(../../font/charlie/CharlieDisplay-Thin.ttf);
}

@font-face {
    font-family: Charlie-Bold;
    src: url(../../font/CharlieDisplay-Bold.ttf);
}